# The OpenWrt target = the image architecture. Apple Silicon / ARM:
# aarch64_generic, Intel/AMD: x86_64. Tag list: hub.docker.com/r/openwrt/rootfs/tags
OPENWRT_ARCH=aarch64_generic
OPENWRT_VERSION=25.12.4

# LuCI and SSH login: root / <ROOT_PASSWORD>
ROOT_PASSWORD=openwrt

# Active theme of the test bench
LUCI_THEME=shadcnui-dark

HTTP_PORT=8080
HTTPS_PORT=8443
SSH_PORT=2222
